section {
    float:left;
    display:block;
    width: 650px;
    height:550px;
    border: 5px solid salmon;
    padding-top:10px;
    position: absolute;
}
aside {
    position: absolute;
    right:40px;
    width:270px;
    border:3px solid black;
    padding:10px;
    float:right;
    margin-top:10px;
    display:block;
    object-fit: none;
}
h3 {
    font-size: large;
    padding-top:6px;
    padding-right:50px;
}
h2 {
    padding-left:15px;
}

body {
    width: 940px;
    height:50px;
    padding:10px; 
   
}  
.clear {
    clear: both;
}
#icons img {
    width:70px;
    height:70px;
}
.mypic {
    float:left;
    padding-right:15px;
    padding-left:15px;
}
#first {
   display:block;
   float:left;
   width: 400px;
}
nav {
    float:top;
    margin: auto;
    background-color: #ffffff;
  
}
li {
float:top;
    float: right;
    display:block;
    text-align: right;
    padding: 16px;
    text-decoration: none;
}
div.top {
    padding-bottom:20px;
    padding-left:16px;
    width: 650px;
    height:50px;
    display: block;
    border-bottom: 2px solid #cccccc;
}
div{
    display:block;
}
h1 {
    padding-bottom: 100px;
    margin-top: 10px;
    float: left;
    float:top;
    border:20px;
    text-align: left;
}